{
  "presets": ["env", "stage-1", "react", ["rsuite", { "style": true }]],
  "plugins": [
    "babel-plugin-transform-proto-to-assign",
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-object-rest-spread"    
  ]
}