.ToDoForm {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.ToDoFormTitleBar {
  display: flex;
  justify-content: space-between;
}

.ToDoFormTitleText {
  font-size: 20px;
}
